* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: whitesmoke;
  }

  .grid-container {
    display: flex;
    justify-content: center;
  }
  
  header {
    margin: 45px 30px 30px;
  }
  
  .grid-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 30px;
  }

  .card {
    display: flex;
    width: 350px;
    height: 130px;
    background-color: white;
    margin: 10px;
    align-items: center;
    border: 1px solid rgb(170, 165, 165);
    border-radius: 5px;
  }
 
  .card h2 {
    font-size: 18px;
    color: rgb(70, 70, 70);
  }

  .card p {
    color: rgb(133, 132, 132);
  }
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px
  }

  .hidden {
    display: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
  }
  .modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}